<%
const pick = (obj) => {
    if (!obj) return '';
    if (typeof obj === 'string') return obj;
    return obj[lang] || obj.ja || obj.en || Object.values(obj)[0] || '';
};
const footerData = site.footer || {};
const footerNav = footerData.navItems || [];
%>
<footer class="footer">
  <img class="" src="/images/footer_logo.svg" alt="" aria-hidden="true" />
  <div>
    <img class="" src="/images/line_icon.svg" alt="" aria-hidden="true" />
    <img class="" src="/images/wecaht_icon.svg" alt="" aria-hidden="true" />
    <p><%= pick(footerData.cta) %></p>
  </div>
  <nav class="header_nav">
    <ul class="header_nav_list">
      <% footerNav.forEach(function(item) { %>
        <li class="header_nav_item"><a href="##"><%= pick(item.label) %></a></li>
      <% }) %>
    </ul>
  </nav>

  <div>
    <div>
      <img class="" src="/images/card_icon.svg" alt="" aria-hidden="true" />
      <p><%= pick(footerData.paymentTitle) %></p>
      <p><%= pick(footerData.paymentMethods) %></p>

    </div>
    <p><%= pick(footerData.copyright) %></p>

  </div>
</footer>
