<% const pickText=(obj)=> {
        if (!obj) return '';
        if (typeof obj === 'string') return obj;
        const candidates = [obj[lang], obj.ja, obj.en, obj.zh, ...Object.values(obj)];
        return candidates.find((v) => v) || '';
    };
    const withBr = (obj) => pickText(obj).replace(/\\n/g, '<br>').replace(/\n/g, '<br>');
    const head = withBr(site.mainVisualHead);
    const text = withBr(site.mainVisualText);
    const rightTitle = pickText(site.mainVisualTextRightTitle);
    const rightText = pickText(site.mainVisualTextRightText);
    const leftTitle = pickText(site.mainVisualTextLeftTitle);
    const leftText = pickText(site.mainVisualTextLeftText);
    const mainTitleSub = pickText(site.mainVisualMainTitleSub);
    const contactTitle = pickText(site.header.contactTitle);
    const mainTitle = withBr(site.mainVisualMainTitle);
    const subtitleClass = `mainvisual_subtitle mainvisual_subtitle_${lang}`;
    const textClass = `mainvisual_text${lang === 'en' ? ' mainvisual_text_en' : ''}`;
    const panelTitleClass = `mainvisual_panel_title${lang === 'en' ? ' mainvisual_panel_title_en' : ''}`;
    const panelTextClass = `mainvisual_panel_text${lang === 'en' ? ' mainvisual_panel_text_en' : ''}`;
    %>

    <div class="mainvisual">

        <div class="contact_wrap">
            <img src="./images/doctor.png" alt="院長の写真" class="doctor_image" />
            <div class="contact_us">
                <p class="contact_title">
                        <%= contactTitle %>
                </p>
                <div class="contact_sns_wrap">
                    <a class="contact_sns" href="https://line.me/ti/p/LExnujFyUp" target="_blank">
                        <img src="./images/line_icon.svg" alt="Line アイコン" />
                        <p>LINE</p>
                    </a>
                    <img src="./images/sns_line.svg" alt="" />
                    <button  class="wechat_modal_open contact_sns"  >
                        <img src="./images/wechat_icon.svg" alt="WeChat アイコン" />
                        <p>WeChat</p>
                    </button>
                </div>
            </div>
        </div>

        <div class="mainvisual_left">
            <p class="<%= subtitleClass %>">
                <%- head %>
            </p>
            <p class="<%= textClass %>">
                <%- text %>
            </p>
            <div class="mainvisual_panels">
                <div class="mainvisual_panel ">
                    <p class="<%= panelTitleClass %> mainvisual_panel_title_left">
                        <%= rightTitle %>
                    </p>
                    <p class="<%= panelTextClass %> mainvisual_panel_text_left">
                        <%= rightText %>
                    </p>
                </div>
                <div class="mainvisual_panel ">
                    <p class="<%= panelTitleClass %> mainvisual_panel_title_right">
                        <%= leftTitle %>
                    </p>
                    <p class="<%= panelTextClass %> mainvisual_panel_text_right">
                        <%= leftText %>
                    </p>
                </div>
            </div>



        </div>
        <div class="mainvisual_right">
            <div class="mainvisual_text_wrap">
                <p class="mainvisual_main_sub">
                    <%= mainTitleSub %>
                </p>
                <p class="mainvisual_main_tltle">
                    <%- mainTitle %>

                </p>
            </div>



        </div>
        <div class="scroll_down_wrap">
            <p class="scroll_down_text">SCROLL<br>DOWN</p>
            <div class="scroll_icon"></div>
        </div>
    </div>


